					</div>
				</div>
			</div>
			<div id="footer">
				<div id="approved">
					<div class="center">
					    <a href="http://niceic.com/"><img src="images/niceic.png" /></a>
					    <a href="http://www.microgenerationcertification.org/"><img src="images/mcs.png" /></a>
					</div>
				</div>
				<div id="sitemap">
					<div>
					    <a href="/">Home</a> |
					    <a href="/domestic.html">Domestic</a> |
					    <a href="/commercial.html">Commercial</a> |
					    <a href="/photovoltaic.html">Photovoltaic</a> |
					    <a href="/testing.html">Testing and Inspection</a>
					</div>
					<div>
					    <a href="/whoweare.html">Who We Are</a> |
					    <a href="/contactus.html">Contact Us</a>
					</div>
					<div>56 Moor Lane, Rickmansworth, Hertfordshire WD3 1LG</div>
					<div>Company No. 5386433 VAT No: 740 2568 46</div>
					<div>&copy;LJB Contractors 2011</div>
				</div>
			</div>
		</div>
	</body>
</html>